{% extends "layout.html" %}
{% block title %}PDB2PQR server:  starting job{% endblock %}
{% block body %}
  <h2>Starting your PDB2PQR job...</h2>
  
  <p>{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}</p>

  <p>Your job status and results will appear <a href="/job/{{ job_id }}">here</a> shortly.</p>

  <hr/>

  <h2>Job information</h2>

  <h3>Job ID</h3>
  <p>{{ job_id }}</p>

  <h3>Job files</h3>
  <ul>
    {% for name, url in job_files.items() %}
      <li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}
