{% extends "layout.html" %}
{% block title %}PDB2PQR server:  configure your job{% endblock %}
{% block body %}
  <h2>Configure your PDB2PQR job</h2>
  
  <p>{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}</p>

  <p>This server enables a user to convert <a href="http://www.rcsb.org/pdb/" target="_pdb">PDB</a> files into PQR files.
  PQR files are PDB files where the occupancy and B-factor columns have been replaced by per-atom charge and radius.</p>
  <p>pKa calculations can be performed by <a href="https://github.com/jensengroup/propka-3.1"target="BLANK">PROPKA</a> or PDB2PKA.</p>
  <p>For more information on PDB2PQR please see:</p>
  <ul>
    <li> <a href="http://www.poissonboltzmann.org/docs/structures-ready/" target="_pdb2pqr_home">Home Page</a> </li>
    <li> <a href="http://eepurl.com/by4eQr" target="_register">Register (and help suport PDB2PQR &amp; APBS)</a> </li>
    <li> <a href="http://www.poissonboltzmann.org/docs/pdb2pqr-programmers/" target="_programmers">Programmer's Guide</a> </li>
    <li> <a href="http://www.poissonboltzmann.org/examples/home/" target="_examples">Examples</a> </li>
    <li> <a href="https://github.com/Electrostatics/apbs-pdb2pqr/releases/tag/pdb2pqr-2.1.0_release"target="BLANK">Release Notes</a> </li>
  </ul>
  <p>If you use the PDB2PQR service in a publication, please cite:</p>
  <blockquote>Dolinsky TJ, Nielsen JE, McCammon JA, Baker NA. PDB2PQR: an automated pipeline for the setup, execution, and analysis of Poisson-Boltzmann electrostatics calculations. <I>Nucleic Acids Research</I> <B>32</B> W665-W667 (2004). [<a href="http://nar.oupjournals.org/cgi/content/abstract/32/suppl_2/W665" target="BLANK">Link</a>]
  </blockquote>
  <hr/>

  <p><strong>Note:</strong> In order to manage server load, the PDB2PQR server currently is limited to a maximum size of 10000 atoms per protein.
  If you are interested in using PDB2PQR for larger proteins, you are encouraged to download a command line version of PDB2PQR from the <a href="http://www.poissonboltzmann.org/docs/downloads/" target="_downloads">PDB2PQR download page</a>.
  For additional limitations, please see the <a href="http://www.poissonboltzmann.org/docs/pdb2pqr-programmers/" target="_programmers">PDB2PQR user guide</a></p>

  <p><strong>Note:</strong> This server uses automatic refreshing to update the status of your PDB2PQR submission.
  Do not use the <i>back</i> button on your browser while the server is running.</p>

  <form action="" method="post" enctype="multipart/form-data">
    <!-- TODO:  make this less ugly with a DIV -->
    <!-- TODO:  fix the broken javascript -->

    <h3>Please specify the molecule for your calculation</h3>
    <ul>
      <li><input type="RADIO" name="PDBSOURCE" value="ID" CHECKED>a PDB ID</input>: <input type="text" name="PDBID" size=4 maxlength=6 value=""></li>
      <li><input type="RADIO" name="PDBSOURCE" value="UPLOAD">upload a PDB file</input>: <input type="file" name="PDB" size="25" maxlength=100 value=""/></li>
    </ul>

    <h3>Please specify the parameter set (force field) for your calculation</h3>
    <ul>
      <li><input type="RADIO" name="FF" id = "amber" value="amber">AMBER</input></li>
      <li><input type="RADIO" name="FF" id = "charmm" value="charmm">CHARMM</input></li>
      <li><input type="RADIO" name="FF" id = "parse" value="parse" CHECKED>PARSE</input></li>
      <li><input type="RADIO" name="FF" id = "peoepb" value="peoepb">PEOEPB</input></li>
      <li><input type="RADIO" name="FF" id = "swanson" value="swanson">SWANSON</input></li>
      <li><input type="RADIO" name="FF" id = "tyl06" value="tyl06">TYL06</input></li>
      <li><input type="RADIO" name="FF" id = "user" value="user">User-defined
        <ul>
          <li>Forcefield (<a href="http://www.poissonboltzmann.org/docs/pdb2pqr-faq/" target="_faq">help</a>): <input type="file" name="USERFF" size="25" maxlength=100 value=""/></li>
          <li>Names (<a href="http://www.poissonboltzmann.org/docs/pdb2pqr-faq/" target="_faq">help</a>): <input type="file" name="USERNAMES" size="25" maxlength=100 value=""></li>
        </ul>
      </li>
    </ul>

    <h3>Please pick a residue/atom naming scheme for your output</h3>
    <p>See <a href="http://www.poissonboltzmann.org/docs/pdb2pqr-faq/" target="_faq">the FAQ</a> for help.</p>
    <ul>
      <li><input type="RADIO" name="FFOUT" value="internal" CHECKED>Internal naming scheme</input> (<a href="http://www.poissonboltzmann.org/docs/pdb2pqr-programmers/" target="_programmer">What's this?</a>)</li>
      <li><input type="RADIO" name="FFOUT" value="amber">AMBER</input></li>
      <li><input type="RADIO" name="FFOUT" value="charmm">CHARMM</input></li>
      <li><input type="RADIO" name="FFOUT" value="parse">PARSE</input></li>
      <li><input type="RADIO" name="FFOUT" value="peoepb">PEOEPB</input></li>
      <li><input type="RADIO" name="FFOUT" value="swanson">SWANSON</input></li>
      <li><input type="RADIO" name="FFOUT" value="tyl06">TYL06</input></li>
    </ul>

    <h3>Please specify the structure repair calculation options</h3>
    <ul>
      <li><input type="CHECKBOX" name="DEBUMP" CHECKED> Ensure that new atoms are not rebuilt too close to existing atoms</li>
      <li><input type="CHECKBOX" name="OPT" CHECKED> Optimize the hydrogen bonding network</li>
      <li><input type="CHECKBOX" name="LIGANDCHECK"> Assign charges to the ligand specified in a MOL2 file</input>: <input type="file" name="LIGAND" size="25" maxlength=100 value=""></li>
      <li><input type="CHECKBOX" name="INPUT" CHECKED> Create an <a href="http://www.poissonboltzmann.org/docs/calculating/" target="_apbs">APBS</a> input file <span style="font-size:60%">(this also enables the option to run APBS and visualize your results through the web interface, if it has been installed)</span></li>
      <li><input type="CHECKBOX" name="CHAIN"> Add/keep chain IDs in the PQR file</li>
      <li><input type="CHECKBOX" name="WHITESPACE"> Insert whitespaces between atom name and residue name, between x and y, and between y and z</li>
      <li><input type="CHECKBOX" name="TYPEMAP"> Create Typemap output</li>
      <li><input type="CHECKBOX" name="NEUTRALN"> Make the protein's N-terminus neutral (requires PARSE forcefield)</li>
      <li><input type="CHECKBOX" name="NEUTRALC"> Make the protein's C-terminus neutral (requires PARSE forcefield)</li>
      <li><input type="CHECKBOX" name="DROPWATER"> Remove the waters from the output file</li>
    </ul>

    <h3>Please specify the titration state calculation options</h3>
    <ul>
      <li>Assign titration states for the given pH using:
        <ul>
          <li><input type="RADIO" name="PKACALCMETHOD" value="none" id="pka_none">No pKa calculation</input></li>
          <li><input type="RADIO" name="PKACALCMETHOD" value="propka" id="pka_propka" CHECKED> <a href="https://github.com/jensengroup/propka-3.1" target="BLANK">PROPKA</a></input></li>
          <li><input type="RADIO" name="PKACALCMETHOD" value="pdb2pka" id="pka_pdb2pka" onClick="setpkamethod(this.value)">PDB2PKA</input>  <label>(Warning: PDB2PKA is currently experimental and the calculation can take a very long time.  The webserver will kill any jobs that last longer than one week.  This works only with the PARSE force field.)</label></li>
        </ul>
      </li>
      <li>Use pH = <input type="text" name="PH" size=4 maxlength=6  value="7"></input></li>
    </ul>
    <div class="actions"><input type="submit" value="Submit"></div>
  </form>
{% endblock %}
