<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
<title>PDB2PQR Server </title>
<img src="https://raw.githubusercontent.com/Electrostatics/apbs-pdb2pqr/master/apbs/doc/icons/APBS_128_v2.png" style="float:right; position:relative;right: 200px; top: 20px;">
<style type=text/css> background: url('http://www.poissonboltzmann.org/img/bg.jpg') no-repeat; background-size: cover; </style>
<title>{% block title %}PDB2PQR server{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<div class="page">
  <div id="cursor"></div>
  <div id="content">
    <h1>PDB2PQR server</h1>
    <p><i>Currently using PDB2PQR version {{ g.pdb2pqr_version }}.</i> See the <a href="https://github.com/Electrostatics/apbs-pdb2pqr/releases/tag/pdb2pqr-2.1.0_release" target="BLANK">Release Notes</a> for changes since the last version.</p>
    <p>Return to the <a href="http://www.poissonboltzmann.org/docs/structures-ready/" target="_pdb2pqr_home">PDB2PQR homepage</a></p>
    <hr/> 
    {% block body %}{% endblock %}
  </div>
  <div class="footer">
    <center>PDB2PQR server &mdash; a <a href="http://flask.pocoo.org/" target="_flask">Flask</a> application.</center>
  </div>
</div>
